
.top{
    margin-left: 589px;
    background-color: #191517;
    padding: 2px;
    width: 37px;
    height: 60px;
    box-shadow: 0px 0px 9px 5px inset grey;
}
.semaphore{
    margin-left: 535px;
    background-color: #191517;
    padding: 15px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 0px 0px 9px 5px inset grey;
}
.light {
    border-radius: 50px;
    width: 100px;
    height: 100px;
    margin: 7px;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.shine1{
    box-shadow: 0px 0px 9px 6px red;
}

.shine2{
    box-shadow: 0px 0px 9px 6px yellow;
}

.shine3{
    box-shadow: 0px 0px 9px 6px green;
}

.img{
    display: block;
    width: 300px;
    height: 300px;
}

.vineta{
    position:relative;
    width: 300px;
    height: 100px;
    box-shadow: 
      0 0 0 1px black,
      0 0 0 6px white,
      0 0 0 7px black;
  }

  .centered{
    margin-left: 500px;
  }